<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title th:text="${produto.titulo}"> - Casa do código</title>
        <link rel="icon" th:href="@{/imagens/cdc-icon.png}" type="icon" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
		      rel="stylesheet" 	
			  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
        crossorigin="anonymous">
    </head>

  <body>

    <header class="cabecalhoPrincipal">

      <nav class="navbar shadow p-3 mb-5 rounded" style="background-color: #FFA500;">

        <ul class="justify-content-center nav navbar-collapse">

          <li>
            <a class="navbar-brand text-white" th:href="@{/}"><img height="60px" width="50px" src="" alt="Casa do Código Logo" th:src="@{/imagens/cdc-icon.png}">
              Casa do Código</a>
          </li>
          <li><a class="nav-link text-white border-right" href="#">Programação</a></li>
          <li><a class="nav-link text-white border-right" href="#">Back-end</a></li>
          <li><a class="nav-link text-white border-right" href="#">Agile</a></li>
          <li><a class="nav-link text-white border-right" href="#">Front-end</a></li>
          <li><a class="nav-link text-white border-right" href="#">Java</a></li>
          <li><a class="nav-link text-white border-right" href="#">Mobile</a></li>
          <li><a class="nav-link text-white" href="#">Outros</a></li>
          <li>
            <h6 class="align-text-top text-white">Seu carrinho</h6>
            <a class="nav-link text-white" th:href="@{/carrinho}">
              <img width="60px" height="40px" src="https://cdn2.iconfinder.com/data/icons/miscellaneous-iii-glyph-style/150/shopping-bag-512.png" alt="Sacola compra">
              <span th:text="${'(' + @carrinhoCompras.getQuantidade() + ')'}" ></span>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>

      <h1 class="text-center mb-3" th:text="${produto.titulo}"></h1>

      <div class="container mb-5">

        <div class="row">

          <div class="col">
            <div class="float-right">
              <img width="350px" height="450px"
                   alt="Capa Livro"
                   src="https://cdn-images-1.medium.com/max/882/1*ZIG8pV_LR79eddEdRllGbA.jpeg">
            </div>
          </div>

          <div class="col">
            <div class="">
              <form th:action="@{/carrinho/add}" action="#" method="POST" class="">
                <input type="hidden" th:value="${produto.id}" th:name="produtoId">
                <ul class="list-group">

                  <li th:each="preco : ${produto.precos}" class="list-group-item d-flex justify-content-between align-items-md-center list-group-item-light">
                    <span th:text="${preco.tipo}"></span>
                    <span>
                    <p style="text-decoration: line-through;">R$ 89,90</p><p th:text="${' por R$ ' + preco.valor}"></p>
                  </span>
                    <button type="submit" class="btn btn-warning text-uppercase text-white" th:name="tipoPreco" th:id="tipo" th:value="${preco.tipo}">Comprar</button>
                  </li>

                </ul>
              </form>
            </div>
          </div>

        </div>

      </div>

      <div class="container">
        <section class="conteudoLivro">
          <h2 class="border-bottom">Conteúdo</h2>
          <p th:text="${produto.descricao}"></p>
        </section>
        <a th:href="${'/produtos/sumario/' + produto.id}">Veja o sumário completo</a>

        <section class="informacoesAdicionais mt-5" style="margin-bottom: 100px;">

          <h2 class="border-bottom">Dados do produto</h2>
          <p th:text="${'Número de páginas: ' + produto.paginas}"></p>
          <a class="btn btn-dark errata float-right" href="#">Submeta uma errata</a>
          <p th:text="${'Data de publicação: ' + produto.dataLancamento}"></p>

        </section>

      </div>

    </main>

    <footer class="footer shadow" style="padding-bottom: 100px; padding-top: 50px; background-color: #FFA500;">
      <div class="container">

        <div class="row">

          <div class="float-left" style="padding-right: 50px;">
            <a href="#" title="Voltar ao topo da página">
              <img src=""
                 height="80px"
                 width="100px"
                 th:src="@{/imagens/cdc-icon.png}"
                  alt="CDC logo">
            </a>
          </div>

          <div class="col-sm">
            <h5 class="text-uppercase text-black">Links da casa do código</h5>
            <ul class="list-unstyled">
              <li>
                <a class="text-white" href="#">Sobre a Casa do Código</a>
              </li>
              <li>
                <a class="text-white" href="#">Nossas Coleções</a>
              </li>
              <li>
                <a class="text-white" href="#">Quero ser um autor</a>
              </li>
              <li>
                <a class="text-white" href="#">Perguntas frequentes</a>
              </li>
            </ul>
          </div>

          <div class="col-sm">
            <h5 class="text-uppercase text-black">Receba novidades e lançamentos</h5>
            <form method="post" action="#">
              <ul class="list-unstyled">
                <li>
                  <input type="email" placeholder="seu@email.com">
                  <button class="btn btn-sm btn-dark">ok</button>
                </li>
                <li>
                  <p class="text-uppercase mt-5">Este site aceita</p>
                </li>
                <li>
                  <img src="" th:src="@{/imagens/pagseguro.png}" alt="PagSeguro logo">
                  <img src="" th:src="@{/imagens/paypal.png}" alt="PayPal logo">
                </li>
            </ul>
            </form>
          </div>

        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>

</html>